*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik Mono One', sans-serif;
}
html {
    scroll-behavior: smooth;
  }

/* barra di navigazione fissa */
nav ul{
    position: fixed;
    top: 5%;
    right: 5%;
    z-index: 2;
}
nav ul li{
    display: inline-block;
}

a:hover{
    background-color: grey;
    color: white;
}

a{
display: inline-block;
text-decoration: none;
width: 70px;
height: 70px;
background-color: white;
font-weight: bold;
color: black;
border-radius: 50%;
padding: 25%;
vertical-align: middle;
margin: 0 20px;
}
/* /barra di navigazione fissa */

/* contenitori */

.container{
    width: 100%;
    height: 100vh;
    position: relative;
}

.shoes{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60%;

    text-align: center;
    object-fit: cover;
}
h1{
    font-size: 70px;
    color: yellow;
}

#yellow .shoes h1{
    color: green;
}

#red{
    background-color: red;
}

#green{
    background-color: green;
}

#yellow{
    background-color: yellow;
}
/* /contenitori */
